@use "../../variables.scss" as *;

.portfolio-section {
  .subtitle {
    margin: 65px 0;
  }

  &__blur {
    background-color: azure;
    opacity: 0.25;
  }

  &__footer {
    color: #fff;
    background-color: $black_light;
  }
}
