@use "../../variables.scss" as *;

.skills-section {
  padding: 60px 66px;
  &__subhead {
    color: #000;
    font-size: 30px;
    line-height: 26px;
    font-weight: 900;
    letter-spacing: 5.561px;
    text-transform: uppercase;
  }

  &__skill {
    margin-bottom: 70px;
    &-icon {
      height: 100px;
    }
  }
}

@media screen and (min-width: 768px) {
  .skills-section {
    padding: 0 $desktop_section_x_padding;
  }
}
