@use "../../variables.scss" as *;

.navbar {
  position: relative;
  z-index: 1500;
  height: $navbar_height;
  background-color: $black;
  color: #fff;

  &__link {
    height: $navbar_height;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;

    &.active {
      background-color: #fff;
      color: #000;
      text-transform: uppercase;
    }
  }

  &__logo {
    width: 35px;
    height: 42px;
  }

  &.fixed {
    position: fixed;
  }
}
