@use "../../variables.scss" as *;

.navbar {
  z-index: 1500;
  height: $navbar_height;
  background-color: $black;
  color: #fff;

  &__link {
    height: $navbar_height;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;

    &.active {
      background-color: #fff;
      color: #000;
      text-transform: uppercase;
    }
  }

  &__logo {
    width: 35px;
    height: 42px;
  }

  &.fixed {
    position: fixed;
  }

  &__divider {
    height: $navbar_height;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    background-color: transparent;
    padding: 0 $desktop_hero_x_padding;
    &__link {
      height: auto;
      background: unset;

      .active {
        border-radius: 20px;
      }
    }
  }
}
