// Dimensions
$navbar_height: 58px;

// Colors
$black: #0b0b0b;
$black_light: #1a1a1a;
$white_bg: #d7d7d7;
$grey_bg: #8b8b8b;
$gradient_bg: linear-gradient(
  90deg,
  $grey_bg 0%,
  #ffffff 5%,
  #ffffff 95%,
  $grey_bg 100%
);
